.facture {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgb(184, 184, 184);
    width: 400px;
}

.header {
    background-color: #6b8089;
    color: white;
    padding: 15px;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.header h3 {
    border: 1px solid white;
    padding: 15px 10px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 22px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 25px;
}

.meta-data {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.bold-text {
    font-weight: 600;
}

.client-data {
    border: 1px solid rgb(169, 169, 169);
    padding: 15px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.client-data>h4 {
    font-weight: 600;
}

.client-data-details {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.products-data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.products-table tr th {
    padding: 10px;
    font-weight: 600;
    border-bottom: 2px solid gray;
}

.products-table tr td {
    padding: 10px;
    border-bottom: 1px dashed gray;
}
.products-table tr:nth-last-child() td {
    border-bottom: 0;
}

.footer {
    background-color: #6b8089;
    color: white;
    padding: 15px 20px;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: auto;
}

.footer>span {
    font-size: 14px;
}

.total-prices-table tr,
.total-prices-table tr {
    padding: 10px;
    border-bottom: 1px dashed gray;
}

.total-prices-table tr th:nth-child(1) {
    font-weight: 600;
}
.total-prices-table tr {
    display: flex;
    justify-content: space-between;
}
